        <script src="/javascripts/map.js" charset="utf-8"></script>

        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAB-tzd-xy2tbFscuTqxPmxJkUB2Jxet6M&callback=initMap"></script>
    </body>

</html>
