<% include ../partials/plainheader %>

<div class="row">
    <h1 style="text-align: center">Sign In</h1>
    <div style="width: 30%; margin: 25px auto;">
        <form action="/user/login" method="post">
            <div class="form-group">
                <input class="form-control" type="text" name="username" placeholder="Username">
            </div>
<<<<<<< HEAD <<<<<<< HEAD
=======
            <!-- <div class="form-group">
                <input class="form-control" type="text" name="email" placeholder="name@example.com">
            </div> -->
>>>>>>> parent of 9acc43f... Revert "Merge branch 'master' of https://github.com/CalgaryHacks2018/particle_run"
            <div class="form-group">
                <input class="form-control" type="password" name="password" placeholder="Password">
            </div>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block">Log In</button>
            </div>
        </form>
        <div class="text-center">
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
            <p>or</p>
            <a href="/user/register" class="btn btn-success">Create New Account</a>
=======
>>>>>>> 9acc43f6d284ff650adf03c6df4b8312104edb72
=======
            <p>New to FoodDeliverEat?</p>
            <a href="/user/register" class="btn btn-success">Create your FoodDeliverEat Account</a>
>>>>>>> parent of 9bb6dbc... Fixed naming of auth pages
=======
            <p>New to FoodDeliverEat?</p>
            <a href="/user/register" class="btn btn-success">Create your FoodDeliverEat Account</a>
>>>>>>> parent of 9bb6dbc... Fixed naming of auth pages
=======
            <p>or</p>
            <a href="/user/register" class="btn btn-success">Create New Account</a>
>>>>>>> parent of 9acc43f... Revert "Merge branch 'master' of https://github.com/CalgaryHacks2018/particle_run"
        </div>
    </div>
</div>

<% include ../partials/footer %>
